.customer-list-container {
  font-family: Arial, sans-serif;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.customer-table th,
.customer-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.customer-table th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.status-badge.active {
  background-color: #e6f7ed;
  color: #00a389;
}

.status-badge.inactive {
  background-color: #ffeaea;
  color: #ff0000;
}

.btn-edit {
  background-color: #ff8c00;
  color: white;
  border: #ff8c00;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #aa6510; /* Set a contrasting background color */
  color: #000; /* Set a contrasting text color */
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-info {
  font-size: 14px;
}

.pagination-controls {
  display: flex;
  gap: 5px;
}

.pagination-button {
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  background-color: white;
  cursor: pointer;
  border-radius: 15px; /* Add this line to round the buttons */

}

.pagination-button.active {
  background-color: #ff8c00;
  color: white;
  border-color: #ff8c00;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}