@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.customer-list {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 20px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-actions {
    display: flex;
}

.table-actions input,
.table-actions select {
    width: 10rem;
    height: 2rem;
    background-color: #F9FBFF;
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin-left: 10px;
}



table {
    width: 100%;
    border-collapse: collapse;
}


th,
td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    color: #B5B7C0;
    font-weight: 500;
}


.customer-list .status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    min-width: 5.5rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.customer-list .status.approved {
    background-color: #a6e7d8;
    color: #008767;
    font-weight: 500;
    border: 1px solid #008767;
}

.customer-list .status.pending {
    background-color: #ffc5c5;
    color: #df0404;
    font-weight: 500;
    border: 1px solid #df0404;
}

.request-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.status-icon {
    margin-right: 5px;
    color: #fe8c00;
    font-size: 24px;
    margin: auto;
}

.status-icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.status-icon:hover {
    color: #ce7304;
}

.customer-list .edit-btns {
    display: flex;
    justify-content: space-around;
}

.customer-list .edit-btns button {
    border: none;
    background-color: transparent;
    color: #6e6e6e;
    font-size: 19px;
}

.pagination-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    font-weight: 500;
    color: #B5B7C0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination-info {
    font-size: 14px;
}

.pagination-controls {
    display: flex;
    gap: 5px;
}

.pagination-button {
    color: #404B52;
    padding: 5px 10px;
    border: 1px solid #EEEEEE;
    background-color: #F5F5F5;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 500;

}

.pagination-button.active {
    background-color: #ff8c00;
    color: white;
    border-color: #ff8c00;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.page-numbers span {
    margin: 0 5px;
    cursor: pointer;
}

.page-numbers span.active {
    color: hsl(39, 100%, 63%);
    font-weight: bold;
}


.table-header h5 {
    color: #16C098;
    font-weight: 450;
}


.customer-list .search-bar {
    width: 15rem;
    height: 2rem;
    background-color: #F9FBFF;
    border-radius: 4px;
    padding: 5px;
}

.customer-list .search-bar input {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    background: transparent;
    box-sizing: border-box;
}

.customer-list .search-bar .search-icon {
    right: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.chevron-right{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #6e6e6e;
    cursor: pointer;
}

.customer-list .btn-edit-yellow:hover,
.customer-list .btn-edit-yellow:focus {
    background-color: #e68900;
    color: white;
    outline: none;
    transform: scale(1.05);
}

/* .customer-list.btn-edit:active {
  background-color: #d67c00;
  transform: scale(0.98);
}
  */

.customer-list .btn-edit-yellow {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 24px;
    width: 4.5rem;
    height: 1.5rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.customer-list .btn-edit-yellow:hover,
.customer-list .btn-edit-yellow:focus {
    background-color: #e68900;
    color: white;
    outline: none;
    transform: scale(1.05);
}


.table-header .tabs {
    display: flex;
    align-items: center;
    gap: 16px;
}

.table-header .tabs button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tab-button {
    color: #B5B7C0;
}

.tab-button.active,
.tab-button.approved {
    color: #16C098;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.tab-button.inactive,
.tab-button.pending {
    color: #d61125;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.edited-row {
    background-color: rgba(255, 220, 116, 0.4);
}


.warning-icon {
    color: #ff0000;
    padding-right: 0px;
}

.second-th {
    padding-right: 0px;
}