.customer-table {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .table-actions {
    display: flex;
  }
  
  .table-actions input,
  .table-actions select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f8f8f8;
  }
  
  
  .customer-table .status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9em;
  display: block; 
  width: 100px; 
  text-align: center; 
}

.customer-table .status.active {
  background-color: #a6e7d8;
  color: #008767;
  font-weight: 500;
  border: 1px solid #008767;
}

.customer-table .status.inactive {
  background-color: #ffc5c5;
  color: #df0404;
  font-weight: 500;
  border: 1px solid #df0404;
}

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-numbers span {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .page-numbers span.active {
    color: hsl(39, 100%, 63%);
    font-weight: bold;
  }


  .table-header h5 {
    color: #16c098;
    font-weight: 500;
  }

  .search-bar {
    width: 200px;
  } 