.custom-input-group {
  display: flex;
  flex-direction: column;
}

.custom-input {
  width: 100%;
  padding: 10px;
  background-color: #EEEEEE;
  border: 1px solid #ddd; /* Light border for better visibility */
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.custom-input:focus {
  outline: none; /* Remove default outline */
  border-color: #9C9393; /* Optional: change border color on focus */
}
