.sidebar {
  width: 250px;
  background-color: #ffffff;
  height: 100vh;
  padding: 20px;
  transition: width 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.collapsed {
  padding: 20px 0px;
  width: 80px; 
  margin-top: 0px;
}

.logo img {
  width: 170%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  margin-left: 0px;
}

.collapsed .logo img {
  width: 100%;
  height: 50%;
  margin-top: 10px;
}


.logo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 3rem;
}

.sidebar.collapsed .logo-btn {
  justify-content: center;
  gap: 0;
  margin-bottom: 60%;
}


.toggle-btn {
  cursor: pointer;
}

.sidebar.collapsed .toggle-btn {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 15px;
  position: relative;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

nav ul li a svg {
  margin-right: 15px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.sidebar.collapsed nav ul li a {
  justify-content: center;
  padding: 10px;
}

.sidebar.collapsed nav ul li a svg {
  margin-right: 0;
}

.sidebar.collapsed nav ul li a span {
  display: none;
}

nav ul li.active a {
  color: #D61125;
  font-weight: bold;
  background-color: #ffe6e9;
  position: relative;
}

nav ul li.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #D61125;
  border-radius: 5px 0 0 5px;
}

.footer {
  padding: 20px;
  font-size: 12px;
  text-align: center;
  color: #999;
  transition: all 0.3s ease-in-out;
}

.footer p {
  margin: 5px 0;
}

.sidebar.collapsed .footer {
  padding: 10px 0;
}

.sidebar.collapsed .footer p {
  display: none;
}
