.table-container-component {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 20px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .custom-table-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }